---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div style="display: flex; flex-wrap: wrap">
    <div style="flex: 70%">
      {{ content }}
    </div>
    <div style="flex: 5%">
    </div>
    <div style="flex: 25%">
      <div style="align-items: center">
        <ul>
          <li><a class="page-link" href="/category/site-construction"> filler text </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
